.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  font-size: calc(10px + 2vmin);
  background-color: #1229a2;
  color: #fcf7f8;
  /* background-color: #A8DADC; */
}

.App-body {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 5px;
  flex-grow: 10;
  background-color: white;
  overflow-y: scroll;
  color: black;
  margin-left: 5px;
}

.Word {
  text-align: left;
}

.Definition {
  font-size: 15px;
  text-align: left;
}